
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{margin: 0 auto;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #161616;
}
header{
    background-image: url("../img/pngegg (2).png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;

}
.header__title{
    display: flex;
}
.content_header{
    text-align: center;
    margin-top: 52px;
}
.content_header a {
    margin-right: 30px;
    font-size: 14px;
}
.content_header span{
    padding-left: 140px;
    color: #FFFFFF;
}
.callbtn{
    color: #FFFFFF;
    background: #002CC9;
    border-radius: 20px;
    border: 0;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 700;
    width: 201px;
    height: 40px;

}
.mainAbtn{
    color: #002CC9;
}
.podberem{
    background: #002CC9;
    height: 75px;
    width: 600px;
    color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    margin-left: 380px;

}
.podberem p{
    padding-top: 25px;
    padding-bottom: 10px;
    margin-right: 27px;
    margin-left: 25px;
    font-size: 25px;
    font-weight: 100;

}
.attraction{
    color: #FFFFFF;
    margin-top: 257px;
    margin-left: 380px;
    font-size: 61px ;
    width: 513px;

}
.inforadius{
    border-radius: 70px;
    border: 2px solid #FFFFFF;

    padding: 20px 30px 20px 30px;
    font-size: 30px;
}
.continforadius{
    padding-left: 380px;
    display: inline-flex;
    color: #FFFFFF;
    padding-top: 90px;
}
.continforadius p{
    width: 170px;
    padding-top: 20px;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.autopodbor{
    color: #FFFFFF;
    background: #002CC9;
    border-radius: 20px;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    width: 405px;
    height: 75px;
}
.autopodborbtn{
    margin-left: 400px;
    margin-top: 80px;

}
.contacts_content{
    margin-top: 500px;
    margin-left: 500px;

    border-radius: 190px;
    position: absolute;
    background-color: white;
    text-align: center;
    width: 600px;
    height: 600px;
}
.contacts_content a{
    color: #161616;
}